body{
    background: #fcfcfc;
}

.Main-card{
    height: 400px;
    width: 250px;
    border: 1px solid red;
}
.content{
    height: 300px;
    width: 240px;
    border: 1px solid rgb(8, 5, 5);

}
.content img{
    height: 100px;
    width: 100px;
    border: 1px solid red;
    
}
h2{
    
}