body{
    background: #fcfcfc;
}

.Main-card{
 
    border: 1px solid red;
    display: flex;
}
.content{
    /* height: 400px; */
    width: 250px;
    border: 1px solid rgb(8, 5, 5);
    /* position: relative; */
}
.content img{
    height: 250px;
    width: 250px;
    border: 1px solid red;
    
}
