/* src/components/Footer.css */
.footer {
    background-color: rgb(3, 49, 117);
    color: white;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    padding: 10px;
}

.footer-section h4 {
    margin-bottom: 10px;
    color: rgb(243, 163, 149);
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    background-color: rgb(252, 149, 130);
    color: rgb(3, 49, 117);
}
